AGC032
C_Many_Medians.py
D_Binomial_Coefficients.py
HackToTheFuture2019PreOpen
Tenka1_Beginner
TwoCoins.py
VirtualEnv.ipynb
Xmas
example
Untitled\ Folder
Untitled\ Folder\ 1
ABC138/D_wrong.py
ABC136/original_D.py
ABC085/C_Otoshidama.ipynb

.ipynb_checkpoints
.DS_Store
Pipfile
Pipfile.lock
.vscode

__pycache__
